{%extends 'base.html'%}

{%block content%}
<div style="padding: 25px;">
    <h1 style="text-align: center">Build a Blog</h1>
    {% for post in blog_post %}
        <h2><a href="/blog?id={{post.id}}">{{post.title}}</a></h2>
        <p>{{post.body}}</p>
        {% for author in user %}
            {% if author.id == post.owner_id %}
                <sub><em>Written by: </em><a href="/blog?username={{author.username}}">{{author.username}}</a></sub>
            {% endif %}
        {% endfor %}
        <hr>
    {% endfor %}
</div>
{%endblock%}